& when (@media-common =true) {
    & .banner-top {
        margin-bottom: 20px;
        & .owl-carousel {
            & .owl-dots{
                position: absolute;
                bottom: 30px;
                left: 50%;
                & .owl-dot{
                    box-shadow: none;
                }
            }
            & .owl-nav{
                & .owl-prev, .owl-next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 100px;
                    color: @main-color;
                }
                & .owl-prev {
                    left: 2rem;
                    &:hover{
                        background-color: unset;
                    }
                }
                & .owl-next {
                    right: 2rem;
                    &:hover{
                        background-color: unset;
                    }
                }
            }
            & .item {
                & .content-slide {
                    background-size: cover;
                    & .text {
                        box-sizing: border-box;
                        margin-left: auto;
                        margin-right: auto;
                        max-width: 1280px;
                        padding-left: 20px;
                        padding-right: 20px;
                        width: auto;
                        padding-top: 140px;
                        padding-bottom: 170px;
                        position: relative;

                        & p {
                            line-height: 72px;
                        }

                        & .new {
                            padding-left: 50px;
                            color: #c7c7c7;
                        }

                        & .collection {
                            top: 4em;
                            position: absolute;
                            letter-spacing: 0.7em;
                            color: @main-color;
                            padding-left: 10px;
                        }
                        & button{
                            padding: 20px;
                            margin-top: 9rem;
                        }
                    }
                }
            }
        }
    }

    .ads{
        margin-top: 20px;
        & img{
            width: 100%;
        }
        & .center{
            font-size: 30px;
            & .content{
                position: absolute;
                top: 30%;
                left: 25%;
                & .women{
                    margin-bottom: 0;
                    letter-spacing: 0.05em;
                }
                & .fashion{
                    letter-spacing: 0.2em;
                }
            }
        }
        & .left{
            & .content{
                position: absolute;
                top: 45px;
                left: 60px;
                & .big{
                    font-size: 24px;
                    color: #666666;
                    display: block;
                }
            }
            & .new{
                position: absolute;
                top: 94px;
                right: 100px;
                color: white;
                background-color: #2ea76f;
                padding: 22px 15px;
                border-radius: 50%;
            }
        }
        & .right{
            & .top{
                margin-bottom: 30px;
                & .sale{
                    position: absolute;
                    padding: 20px 15px;
                    border-radius: 50%;
                    background-color: @main-color;
                    color: white;
                    top: 10%;
                    left: 15%;
                }
            }
            & .bot{
                position: relative;
                & .content{
                    position: absolute;
                    top: 15%;
                    left: 20%;
                    & .shoes{
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .trending{
        & .header{
            text-align: center;
            position: relative;
            & i{
                font-size: 30px;
                color: #b4b4b4;
            }
            & .year{
                font-size: 80px;
                color: #b4b4b4;
            }
            & .trend{
                font-size: 18px;
                position: absolute;
                top: 50px;
                left: 40%;
                background-color: white;
                letter-spacing: 0.5em;
            }
        }
        & .tab{
            text-align: center;
            margin-bottom: 30px;
            padding-top: 30px;
            border-top: 1px solid gray;
            & a{
                margin: 30px;
                color: #666666;
                &:hover{
                    color: @main-color;
                }
            }
        }
        & .product{
            & .product-list{
                & .owl-nav{
                    & .owl-prev, .owl-next {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 50px;
                        color: #666666;
                    }
                    & .owl-prev {
                        left: -5rem;
                        &:hover{
                            background-color: unset;
                        }
                    }
                    & .owl-next {
                        right: -5rem;
                        &:hover{
                            background-color: unset;
                        }
                    }
                }
                & .item{
                    text-align: center;
                    & .product-item-info:hover{
                        box-shadow: none;
                        border: 1px solid @main-color;
                        margin: 0;
                        padding: 0;
                        .product-item-inner{
                            box-shadow: none;
                            border: none;
                            top: 50%;
                            background: unset;
                            left: unset;
                            .tocart{
                                position: absolute;
                                right: 0;
                                width: max-content;
                                background: rgba(255,102,51, 0.8);
                                color: white;
                            }
                        }
                    }
                    
                    & .product-item-detail{
                        & .rating-summary{
                            & .rating-result{
                                span{
                                    &:before{
                                        color: #ffae00;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hot-deal{
        background-color: #ededed;
    }
}
